<template>
  <div>
    <div v-for="entity in entities" :key="entity.id">
      <EntityForm :entity="entity"></EntityForm>
    </div>
    <NewButton @clicked="entities"></NewButton>
  </div>
</template>

<script>
import EntityForm from "./EntityForm";
import NewButton from "./NewButton";
import entities from "@/js/objects/Entities";

export default {
  name: "EntityFormList",
  components: {
    EntityForm,
    NewButton
  },
  data() {
    return {
      entities: entities.values
    }
  },
  methods: {
  }
}
</script>

<style scoped>
</style>