<template>
  <div>
    <div v-for="(entity, index) in entities" :key="entity.id">
      <div class="entity">{{index+1}}. {{entity.name}}</div>
    </div>
  </div>
</template>

<script>
import {Entity} from "@/js/classes/Entity";

export default {
  name: "EntityList",
  props: {
    entities: {
      type: Array[Entity],
      required: true
    }
  }
}
</script>

<style scoped>
  .entity {
    padding: 7px 10px 7px 10px;
    text-align: left;
    width: 280px;
    background-color: #fddeab;
  }
</style>