<template>
   <div>
     <input class="nameInput" type="text" placeholder="enter name" v-model="entity.name" />
     <button class="removeButton" v-on:click="onClick">X</button>
   </div>
</template>

<script>
import {Entity} from '@/js/classes/Entity';
import entities from '@/js/objects/Entities';
import "@/css/General.css";

export default {
  name: "EntityForm",
  data() {
    return {
    }
  },
  props: {
    entity: {
      type: Entity,
      required: true
    }
  },
  methods: {
    onClick() {
      entities.removeEntity(this.entity);
      //this.$emit('remove-entity-clicked', this.entity);
    }
  }
}
</script>

<style scoped>
  .nameInput {
    width: 250px;
    padding: 0 10px 0 10px;
  }
  .removeButton {
  }
</style>