<template>
  <button v-on:click="onClick">new entry</button>
</template>

<script>
import entities from "@/js/objects/Entities";
import "@/css/General.css";

export default {
  name: "NewButton",
  methods: {
    onClick() {
      entities.newEntity();
      //this.$emit("clicked");
    }
  }
}
</script>

<style scoped>
  button {
    height: 60px;
    width: 300px;
  }
</style>