<template>
  <table class="wrapper">
    <tr>
      <td colspan="3">
        <p>Create entries. Enter names. Hit the random button.</p>
      </td>
    </tr>
    <tr>
      <td class="forms">
        <EntityFormList class="entityFormList" />
      </td>
      <td>
        <img class="random" v-show="entities.length > 1" alt="Vue logo" src="../assets/random-arrows.png" v-on:click="randomize">
      </td>
      <td class="results">
        <EntityList class="entityList" v-if="shuffledEntities != null" :entities="shuffledEntities"></EntityList>
      </td>
    </tr>
  </table>
</template>

<script>
/*
<div class="forms">
    </div>
    <div class="random">
    </div>
    <div class="results">
    </div>
*/
import EntityFormList from "./EntityFormList.vue";
import {shuffle} from "@/js/static/Utils";
import entities from "@/js/objects/Entities";
import EntityList from "@/components/EntityList";

export default {
  name: "Randomizer",
  data() {
    return {
      shuffledEntities: null,
      entities: entities.values
    }
  },
  components: {
    EntityList,
    EntityFormList
  },
  methods: {
    randomize() {
      this.shuffledEntities = this.entities.filter(
          function(/*entity*/) {
            return true;//entity.name !== "";
          }
      );
      if (this.shuffledEntities.length < 2) {
        this.shuffledEntities = null;
        alert("Please enter at least two names!")
        return;
      }
      shuffle(this.shuffledEntities);
    },
  }
}
</script>

<style scoped>
  .wrapper {
    display: inline-block;
  }
  .forms {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }
  .random {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 70px;
  }
  .results {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }
</style>