body {
    margin: 0;
    width: 100%;
    background-color: antiquewhite;
}

button {
    display: inline;
    alignment: right;
    height: 30px;
    width: 30px;
    background-color: #d3ffc7;
    padding: 0 0 0 0;
    border: 0;
}

input {
    height: 30px;
    padding: 0 0 0 0;
    border: 0;
    background-color: #ffffff;
}