<template>
  <div id="app">
    <br>
    <Randomizer></Randomizer>
  </div>
</template>

<script>
import Randomizer from './components/Randomizer.vue'

export default {
  name: 'App',
  components: {
    Randomizer
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
